Source: libgeier
Priority: optional
Maintainer: Stefan Siegl <stesie@brokenpipe.de>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, zlib1g-dev, libssl-dev, libxml2-dev, libxslt1-dev, pkg-config
Standards-Version: 3.6.1
Section: libs

Package: libgeier-dev
Section: libdevel
Architecture: any
Recommends: taxbird
Depends: libgeier (= ${Source-Version}), zlib1g-dev, libssl-dev, libxml2-dev, libxslt1-dev
Description: Elster Client Library (German Tax Declarations)
 GEIER is the first free library to send gathered tax declarations data to
 the German inland revenue office.  This package contains the shared library
 and the geier command line tool.
 .
 GEIER is part of the Taxbird project.

Package: libgeier
Section: libs
Architecture: any
Depends: zlib1g, libssl0.9.7, libxml2, libxslt1.1
Description:  Elster Client Library (German Tax Declarations)
 GEIER is the first free library to send gathered tax declarations data to
 the German inland revenue office.  This package contains the static library
 and the header file.
 .
 GEIER is part of the Taxbird project.
