Source: libgeier-perl
Section: interpreters
Priority: optional
Build-Depends: debhelper (>= 3.0.5), perl (>= 5.8.0-3), libgeier-dev (>= 0.5)
Maintainer: Stefan Siegl <stesie@brokenpipe.de>
Standards-Version: 3.6.1

Package: libgeier-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, libgeier (>= 0.5)
Description:  Perl bindings to the GEIER library
 This Perl module supplies Perl bindings to the GEIER library.
 GEIER is the first free library to send gathered tax declarations
 data to the German inland revenue office.
 .
 GEIER is part of the Taxbird project.
 .
 See http://www.taxbird.de/ for details.
